/* Button Styles */
.btnCustom, .btnDanger {
  color: #ffffff; /* Text color white */
  padding: 12px 30px; /* Adjust padding */
  border-radius: 30px; /* More rounded corners */
  font-size: 1.1rem; /* Adjust font size */
  cursor: pointer;
  border: 2px solid transparent; /* Border for hover effect */
  transition: background-color 0.4s ease-in-out, box-shadow 0.4s ease-in-out, border-color 0.4s ease-in-out; /* Smooth transition */
}

/* Custom Button */
.btnCustom {
  background-color: #28a745; /* Green */
}

.btnCustom:hover {
  background-color: #218838;
  border-color: #218838; /* Border color on hover */
  box-shadow: 0 0 20px rgba(0, 255, 0, 0.6);
}

.btnCustom:active {
  background-color: #1e7e34;
  border-color: #1e7e34; /* Border color when active */
  box-shadow: 0 0 10px rgba(0, 255, 0, 0.8), 0 0 20px rgba(0, 255, 0, 0.6);
}

/* Danger Button */
.btnDanger {
  background-color: #dc3545; /* Danger Red */
}

.btnDanger:hover {
  background-color: #c82333;
  border-color: #c82333; /* Border color on hover */
  box-shadow: 0 0 20px rgba(255, 0, 0, 0.6);
}

.btnDanger:active {
  background-color: #bd2130;
  border-color: #bd2130; /* Border color when active */
  box-shadow: 0 0 10px rgba(255, 0, 0, 0.8), 0 0 20px rgba(255, 0, 0, 0.6);
}

/* LED Status Display */
.ledStatusContainer {
  font-size: 1.2rem; /* Adjust size as needed */
  color: #d1d1d1; /* Light gray color */
  margin-top: 15px; /* Adjust spacing as needed */
}

/* Circular Button Style */
.btn-circle {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  text-align: center;
  padding: 8px 0;
  font-size: 18px;
  line-height: 1.5;
  border: none;
  background-color: #007bff;
  color: #fff;
  transition: background-color 0.3s ease;
}

.btn-circle:hover {
  background-color: #0056b3;
}

/* Rectangular Button Style */
.btn-rectangle {
  width: 120px;
  height: 60px;
  border-radius: 10px;
  text-align: center;
  font-size: 18px;
  line-height: 60px;
  border: none;
  background-color: #6c757d;
  color: #fff;
  transition: background-color 0.3s ease;
}

.btn-rectangle:hover {
  background-color: #5a6268;
}

/* Additional Custom Styles */
.btn-custom {
  background-color: #007bff;
  color: #fff;
}

.btn-danger {
  background-color: #dc3545;
  color: #fff;
}
